# 1. Global stuff

# Number of CPUs available to the VM.
# (Better not more than the host has.)
CPUS=4

# Memory available to the VM
# (For Grub in megabytes!)
MEMORY=4096M

# Harddisk image for this VM
HD=/path/to/image

# CDROM image for this VM
# (0 for no CDROM)
CDROM=0

# --------

# 2. Bootloader

# Bootloader to use.
#  - 'bhyve' for FreeBSD
#  - 'grub' for systems supported by grub
#  - 'bootrom' for UEFI / BIOS firmware
#  - 'bootrom_gop' for UEFI with VNC bridge
LOADER=bhyve

# When the bootloader is set to 'bootrom' this
# UEFI / BIOS image is used. Ignored when set
# to 'bhyve' or 'grub.
BOOTROM=/path/to/bootrom.fd

# When the bootloader is set to 'grub' this system
# map is used. Ignored when set to 'bhyve' or
# 'bootrom'.
MAP=/path/to/system.map

# Boot device.
#  - 'cdrom' or 'hd' for bhyve
#  - the system.map entry for grub
# 'bootrom' always tries to boot from CD if one is
# present. Of course it needs to be bootable.
BOOT=hd

# --------

# Resolution for the virtual GOP display, exported
# through VNC. At this time only a small number of
# fixed resolutions are available:
#  - 1920x1200
#  - 1920x1080
#  - 1600x1200
#  - 1600x900
#  - 1280x1024
#  - 1280x720
#  - 1024x768
#  - 800x600
#  - 640x480
GOP_WIDTH=1600
GOP_HEIGHT=1200

# Wait for a VNC connection before booting the VM.
GOP_WAIT=1

# Emulate an USB tablet. If this option is set 0
# a classic PS/2 mouse is emulated. The tablet
# tracks the VNC cursor much better, but it's
# available only on Linux and Windows >8.
GOP_TABLET=1
