# Number of CPUs available to the VM.
# (Better not more than the host has.)
CPUS=4

# Memory available to the VM
# (For Grub in megabytes!)
MEMORY=4096M

# Harddisk images for this VM. HDDs can be numbered,
# all HDDs are attached to the same controller. HD0 is
# always the boot device.
# (0 for no HDD).
HD0=/path/to/image

# CDROM image for this VM.
# (0 for no CDROM)
CDROM0=0

# Bridge for network access. If the bridge doesn't
# exists, it's created and the EXTNIC added to it.
BRIDGE=bridge0
EXTNIC=em0

# --------

# Bootloader to use.
#  - 'bhyve' for FreeBSD
#  - 'grub' for systems supported by grub
#  - 'bootrom' for UEFI / BIOS firmware
#  - 'bootrom_gop' for UEFI with VNC bridge
LOADER=bootrom_gop

# When the bootloader is set to 'bootrom' this
# UEFI / BIOS image is used. Ignored when set
# to 'bhyve' or 'grub.
BOOTROM=/path/to/bootrom.fd

# When the bootloader is set to 'grub' this system
# map is used. Ignored when set to 'bhyve' or
# 'bootrom'.
MAP=/path/to/system.map

# Boot device.
#  - 'cdrom' or 'hd' for bhyve
#  - the system.map entry for grub
# 'bootrom' always tries to boot from CD if one is
# present. Of course it needs to be bootable.
BOOT=hd

# --------

# If not set to 0 this is the sector size of the
# emulated harddisk s. This is needed for Win 7
# which requries 512 sectors and not the more
# correct 4096 or even 8192 sectors determined by
# Bhyve.
SECTORSIZE=0

# Type of HDD controller.
#  - 'ahci-hd' for AHCI emulation.
#  - 'virtio-blk' for virtio.
HDTYPE=ahci-hd

# --------

# Hostbridge type. Supported types are:
#  - 'hostbridge' for a standard Intel hostbride.
#  - 'amd_hostbridge' for an AMD hostbridge.
HOSTBRIDGE=hostbridge

# --------

# Resolution for the virtual GOP display, exported
# through VNC. At this time only a small number of
# fixed resolutions are available:
#  - 1920x1200
#  - 1920x1080
#  - 1600x1200
#  - 1600x900
#  - 1280x1024
#  - 1280x720
#  - 1024x768
#  - 800x600
#  - 640x480
GOP_WIDTH=1280
GOP_HEIGHT=720

# Wait for a VNC connection before booting the VM.
GOP_WAIT=1

# Emulate an USB tablet. If this option is set 0
# a classic PS/2 mouse is emulated. The tablet
# tracks the VNC cursor much better, but it's
# available only on Linux and Windows >8.
GOP_TABLET=1

