# Configuration
# -------------

# Run in background?
DAEMON=1

# Debug output
DEBUG=0

# Bridge for network access
BRIDGE=bridge0
EXTNIC=em0

# Runtime directory. (Must be the same
# for all instances, otherwise things
# will fuck up!)
RTDIR=/usr/vm/bhyve/work/
 
